/*body*/
*{
    box-sizing: border-box;
    }

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;
    margin:0px;
    padding:0px;
    }

.container{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    }

/*header*/
.header{
    padding:25px 0px 25px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    }

.logo{
    font-size: 32.8px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    }

.nav_link{
    color:#404040;
    opacity: .8;
    text-decoration:none;
    margin: 15px;
    }

.button{
    padding:15px 32px;
    font-size:16px;
    cursor:pointer;
   }
#button_search{
    width:35px;
    height:35px;
    display:inline-block;
    background-color:#ffff;
    text-decoration:none;
    cursor:pointer;
    border:none;
    vertical-align: middle;
    }
.button_green{
    background-color:#4CAF50;
    border:none;
    color:white;
    border-radius: 5px;
    }
.button_white{
    background-color:#ffff;
    border:none;
    color:black;
    border-radius: 5px;
    }

/*start list*/
.started{
    background: linear-gradient(45deg, #f1faf5 ,#ffff );
    border-radius: 20px;
    padding-top: 100px;
    display: flex;
    }
.started_left{
    display: block;
    margin-left: auto;
    margin-right: auto
    }

.started_right{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background:center/100% url("images/student.png");
    border-radius: 35px;
    width:431px;
    height:508px;
    }
.color_text{
    color:#4CAF50;
    }

.title{
    font-size:60px;
    width:590px;
    height:270px;
    }


.white_block_left{
     background-color: #ffff;
     width: 262px;
     position: absolute;
     top: 220px;
     left: -155px;
     border-radius: 20px;
     text-align: center;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
     }
.white_block_right{
     background-color:#ffff;
     width:129px;
     height: 146px;
     position: absolute;
     top:340px;
     right:-20px;
     border-radius: 5px;
     text-align:center;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
     font-size:12px;
     }

#human_icon{
    width:30px;
    height:30px;
    margin-top:20px;
    }

#teacher{
    position:static;
    }
#teacher_1{
    position: relative;
    right:20px;
    }
#teacher_2{
    position: relative;
    right: 40px;
    }
#teacher_3{
    position: relative;
    right: 60px;
    }
#teacher_4{
    position: absolute;
    right: 50px;
    }

.teacher{
    width:50px;
    height:50px;
    }
.margin_zero{
    margin: 0;
    }

/*liner*/
.liner{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 150px;
    }
.liner__block{
    height: 60px;
    background-color:#ddffff;
    display: flex;
    border-radius: 5px;
    align-items: center;
    padding: 0px 30px;
    }

.img_liner{
    height:40px;
    width:40px;
    margin-right: 10px;
    }
/*boostrap*/
.boostrap_text{
    justify-content: space-between;
    display: flex;
    ;
    }

.title-style{
    font-size:32px;
    font-weight:600;
    margin: 0px;
    }

.title-style_regular{
    font-size:24px;
    font-weight: lighter;
    align-content: center;
    margin: 0px 0px 20px 0px;
    }

.boostrap_slider{
    justify-content: space-between;
    display: flex;
    padding: 70px 0px;
    }

.img_slider{
    width:291px;
    height:432px;
    }

/*price*/
.price{
    justify-content: space-between;
    display: flex;
    }

.price_button{
    padding:0px 25px;
    background-color:#4CAF50;
    border:none;
    color:white;
    border-radius: 30px;
    }
.green_dollars{
    font-weight: 600;
    color:#4CAF50;
    font-size:24px;
    margin: 10px 10px;

}
.block-price_boost{
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    }
.block-one_price{
    height:407px;
    width:390px;
    }
.block-price_h{
    font-size: 24px;
    font-weight: 500;
    width:270px;
    }

.img-block-price_boost{
    width:390px;
    height: 220px;
    }
.img_intern{
    width:392px;
    height:462px;
    border-radius:20px;

    }
.block-text_line_one{
    display:flex;
    justify-content: space-between;

    }
.name{
    font-size:20px;
    font-weight:600;
    margin: 6px;
    }
.block_profi{
text-align:center;
width:290px;
}

.profi{
    font-size:16px;
    font-weight:500;
    color:#4CAF50;
    margin-top:0px;
    }
.margin{
    margin: 80px 0px 30px 0px ;
    }
.big-tile{
    font-size: 48px;
    font-weight: 600;
    width:550px;
    }
.block-big-title{
    margin-right: 180px;
    }
.list_1{
padding:0px;
list-style-type: none;
}
.li{
    font-size: 20px;
    font-weight: 500;
    margin:20px 0px;
    }
.white-block_footer{
     position: absolute;
     top:220px;
     left:320px;
     background-color:#ffff;
     width:130px;
     height:146px;
     border-radius: 5px;
     text-align:center;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
.block-price_boost{
    position: relative;
    }

.img_instructor_resume{
    width:115px;
    height:115px;
    }
.bottom{
    background-image: url(images/img_3.png);
    background-position: center;
    background-size: 1440px 532px;
    position:relative;
    height:532px;
    }

.start{
    background-color:#E7FAEF;
    border:none;
    color:#4CAF50;
    border-radius: 5px;
    margin-left: 20px;
    }
/*footer*/
.footer_logo{
    width:296px;
    text-align:left;
    color:white;
    }

.icons-footer{
    width:24px;
    height:24px;
    margin:20px 20px 20px 0px;
    }

.footer_list{
    color:white;
    list-style-type: none;
    padding:0px;
    margin:0px;
    }

.li_footer{
    font-size:14px;
    font-weight:300;
    margin:10px 0px;
    }
.footer{
    background-color: black;
    }
.title-footer{
    width:568px;
    height:415px;
    color:white;
    position: relative;
    left:600px;
    top:50px;
    }

.footer_h1{
    font-size:42px;
    font-weight:800;
    }
.footer_p{
    font-size:24px;
    font-weight:300;

    }
.footer_img{
    width:513px;
    height:517px;
    position: absolute;
    top:-60px;
    left:50px;
    }
.list{
    width:800px;
    display:flex;
    justify-content: space-between;
    }

.email{
    text-align: center;
    color:white;
    padding-bottom: 50px;
    }
.button_footer{
    padding-top: 50px;
    }
.footer_button{
    background-color:#E7FAEF;
    color:#09B451;
    border:#E7FAEF;
    margin-left: 30px;
    }
.button_email{
    padding:15px 32px;
    font-size:16px;
    cursor:pointer;
    border-radius:5px;
}